USE [master]
GO
/****** Object:  Database [model]    Script Date: 02/11/2012 12:31:55 ******/
CREATE DATABASE [model] ON  PRIMARY 
( NAME = N'modeldev', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.DBPRODODS001\MSSQL\DATA\model.mdf' , SIZE = 51200KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'modellog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.DBPRODODS001\MSSQL\DATA\modellog.ldf' , SIZE = 51200KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [model].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [model]
GO
/****** Object:  UserDefinedDataType [dbo].[tdSmallDesc]    Script Date: 02/11/2012 12:31:55 ******/
CREATE TYPE [dbo].[tdSmallDesc] FROM [varchar](100) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[tdSecret]    Script Date: 02/11/2012 12:31:55 ******/
CREATE TYPE [dbo].[tdSecret] FROM [varchar](100) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[tdObs]    Script Date: 02/11/2012 12:31:55 ******/
CREATE TYPE [dbo].[tdObs] FROM [varchar](8000) NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[tdHwGuId]    Script Date: 02/11/2012 12:31:55 ******/
CREATE TYPE [dbo].[tdHwGuId] FROM [varchar](36) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[tdEmail]    Script Date: 02/11/2012 12:31:55 ******/
CREATE TYPE [dbo].[tdEmail] FROM [varchar](100) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[tdDesc]    Script Date: 02/11/2012 12:31:55 ******/
CREATE TYPE [dbo].[tdDesc] FROM [varchar](1000) NULL
GO
/****** Object:  StoredProcedure [dbo].[sp_dba_OrphanUser]    Script Date: 02/11/2012 12:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_dba_OrphanUser]
as
ALTER USER [PSAFE\IIS_PROD] WITH LOGIN = [PSAFE\IIS_PROD]
GO
